{% extends "base.html" %}
{% load static %}
{% block title %}ECAP | {{datatitle}}{% endblock %}

{% block content %}
        {% include "sidebar.html" %} 
        <div class="content">
            {% include "navbar.html" %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/total.svg'  as img_url%}
                        {% with "Total "|add:datatitle as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.total unit="€" extra=data.today img_url=img_url%} 
                        {% endwith %}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/avg.svg'  as img_url%}
                        {% with "Average "|add:datatitle as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.avg.0 unit="€" extra=data.avg.1 img_url=img_url%}
                        {% endwith %}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/min.svg'  as img_url%}
                        {% with "Minimal "|add:datatitle as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.min.0 unit="€" extra=data.min.1 img_url=img_url%}
                        {% endwith %}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/max.svg'  as img_url%}
                        {% with "Maximal "|add:datatitle as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.max.0 unit="€" extra=data.max.1 img_url=img_url%}
                        {% endwith %}
                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/std.svg'  as img_url%}
                        {% with datatitle|add:" Standard Deviation" as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.std unit="€" extra=data.today img_url=img_url%}
                        {% endwith %}
                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        {% static 'img/linreg.svg'  as img_url%}
                        {% with datatitle|add:" Daily Growth" as title %}
                        {% include "data_card.html" with complex="True" title=title value=data.linear_regression_slope unit="€/day" extra=data.today img_url=img_url%}
                        {% endwith %}
                    </div>
                </div>
                <hr>
                <div class="row g-4">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        {% include "charts.html" with title=datatitle canvasId="chart"%}
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        {% with datatitle|add:" categories" as title %}
                        {%include "doughnut_chart.html" with title=title canvasId="doughnutChart"%}
                        {% endwith %}
                    </div>
                </div>
                <br>
                <div class="row g-4">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="bg-light p-4">
                            <form method="post" action="{% if data.is_expense %}{% url 'delete_selected_expenses' %}{% else %}{% url 'delete_selected_incomes' %}{% endif %}">
                                {% csrf_token %}
                                <div class="table-responsive">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                                        <thead>
                                            <tr class="text-dark">
                                                <th scope="col"><input class="form-check-input" type="checkbox" id="selectAll"></th>
                                                <th scope="col">Expense ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th> 
                                                <th scope="col">Description</th>
                                                <th scope="col">Category</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="reportTable">
                                            {% if data.data %}
                                                {% for e in data.data %}
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" name="selected_items" value="{{ e.id }}"></td>
                                                        <td>{{e.id}}</td>
                                                        <td>{{e.date}}</td>
                                                        <td>{{e.amount}}</td>
                                                        <td>{{e.description}}</td>
                                                        <td>{{e.category}}</td>
                                                        <td class="text-center"><a class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modifyModal" data-id="{{ e.id }}" data-date="{{ e.date }}" data-amount="{{ e.amount }}"
                                                            data-category="{{ e.category }}" data-description="{{ e.description }}"
                                                            data-is-expense="{{ data.is_expense }}" onclick="openModifyModal(this)">Modify</a></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <button type="submit" class="btn btn-danger mt-3">Delete Selected</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded  p-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-4">
                                    <input type="date" name="date" class="form-control" aria-invalid="true" id="id_date" required>
                                    <label for="floatingInput">Date</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="number" step="0.01" class="form-control" name="amount" placeholder="Amount" required>
                                    <label for="floatingInput">Amount</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" name="category" placeholder="Category" required>
                                    <label for="floatingInput">Category</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" name="description" placeholder="Description">
                                    <label for="floatingInput">Description</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Add {{datatitle}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
            
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

        <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modifyModalLabel">Modify Entry</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="modifyForm" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <input type="date" name="date" class="form-control" aria-invalid="true" id="id_date" required>
                                <label for="floatingInput">Date</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="number" step="0.01" class="form-control" name="amount" placeholder="Amount" required>
                                <label for="floatingInput">Amount</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" name="category" placeholder="Category" required>
                                <label for="floatingInput">Category</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" name="description" placeholder="Description">
                                <label for="floatingInput">Description</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Modify</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block extraJs %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var projectedData = {{ data.projected_chart_data|safe }};
    var data = {{data.chart_data|safe}};
    var dates2 = projectedData.date;
    var amounts2 = projectedData.amount;
    var dates1 = data.date;
    var amounts1 = data.amount;
    var ctx = document.getElementById('chart').getContext('2d');
    var projectedChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates1.concat(dates2),
            datasets: [
                {
                    label: "{{datatitle}}",
                    data: dates1.map((date, index) => ({ x: date, y: amounts1[index] })),
                    backgroundColor: "rgba(75, 192, 192, 0.2)",
                    borderColor: "rgba(75, 192, 192, 1)",
                    borderWidth: 1,
                    pointBackgroundColor: "rgba(75, 192, 192, 1)",
                    fill: false 
                },
                {
                    label: "Expected " + "{{datatitle}}",
                    data: dates2.map((date, index) => ({ x: date, y: amounts2[index] })),
                    backgroundColor: "#BB436C",
                    borderColor: "#BB436C",
                    borderWidth: 1,
                    pointBackgroundColor: "#BB436C",
                    fill: false 
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        tooltipFormat: "DD-MM-YYYY"
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Amount (€)'
                    }
                }
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'index',
                intersect: false
            }
        }
    });
    
    var ctx2 = document.getElementById('doughnutChart').getContext('2d');
    var categoriesData = {{data.categories|safe}};
    labels = Object.keys(categoriesData.amount);
    values = Object.values(categoriesData.amount);
    percentage = Object.values(categoriesData.percentage)
    for (let i = 0; i < labels.length; i++){
        const orignalLabel = labels[i];
        const percent = Math.round((percentage[i] * 100 + Number.EPSILON) * 100) / 100;
        labels[i] = orignalLabel + " (" + percent + "%)";
    }
    var data = {
        labels: labels,
        datasets: [{
            label: "{{datatitle}}",
            data: values,
            backgroundColor: generateColors(labels.length),
            hoverOffset: 4
        }]
    };
    new Chart(ctx2, doughnutConfig(data));
}); 


function generateColors(numColors, startColor = 'rgba(75, 192, 192, 1)') {
    const colors = [];
    const [r, g, b] = startColor.match(/\d+/g).map(Number);

    for (let i = 0; i < numColors; i++) {
        const factor = i / numColors;
        const newR = Math.floor(r * (1 - factor) + 255 * factor);
        const newG = Math.floor(g * (1 - factor) + 255 * factor);
        const newB = Math.floor(b * (1 - factor) + 255 * factor);
        colors.push(`rgba(${newR}, ${newG}, ${newB}, 1)`);
    }

    return colors;
}

function doughnutConfig(data){
    return {type: "doughnut", data: data}
}

document.getElementById('selectAll').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('input[name="selected_items"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    function openModifyModal(button) {
    let id = button.getAttribute('data-id');
    let date = button.getAttribute('data-date');
    let amount = button.getAttribute('data-amount');
    let category = button.getAttribute('data-category');
    let description = button.getAttribute('data-description');
    let isExpense = button.getAttribute('data-is-expense') === 'True';

    document.querySelector('#modifyForm input[name="date"]').value = date;
    document.querySelector('#modifyForm input[name="amount"]').value = amount;
    document.querySelector('#modifyForm input[name="category"]').value = category;
    document.querySelector('#modifyForm input[name="description"]').value = description;

    let form = document.querySelector('#modifyForm');
    form.action = isExpense ? `/modify/expense/${id}` : `/modify/income/${id}`;
}
</script>
{% endblock %}