{% extends "base.html" %}
{% load static %}
{% block title %}ECAP - Personal Budget Tracker{% endblock %}

{% block content %}
        {% include "sidebar.html" %} 
        <!-- Content Start -->
        <div class="content">
            {% include "navbar.html" %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        {% static 'img/chart-line-solid.svg' as income_image_url%}
                        {% include "data_card.html" with title="Total Income" img_url=income_image_url spanId="income"%}
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        {%static 'img/chart-line-down.svg' as expense_img_url%}
                        {% include "data_card.html" with title="Total Expense" img_url=expense_img_url spanId="expense"%}
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        {%static 'img/chart-mixed.svg' as balance_img_url%}
                        {% include "data_card.html" with title="Total Balance" img_url=balance_img_url spanId="balance"%}
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        {%static 'img/savings-hog.svg' as savings_image_url%}
                        {% include "data_card.html" with title="Saving Goal" img_url=savings_image_url spanId="savings"%}
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        {% include "charts.html" with title="Income" showall_a="/income" canvasId="incomesChart"%}
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        {% include "charts.html" with title="Expenses" showall_a="/expense" canvasId="expensesChart"%}
                    </div>
                </div>
                <br>
                <div class="row g-4">
                    <div class="col-sm-12 col-md-4 col-xl-4">
                        {%include "doughnut_chart.html" with title="Expense categories" canvasId="expenseCategoriesChart"%}
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4">
                        {%include "doughnut_chart.html" with title="Income categories" canvasId="incomeCategoriesChart"%}
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4">
                        {%include "doughnut_chart.html" with title="Saving Goal" canvasId="savingGoalChart"%}
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Reports</h6>
                        <a href="" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal">Generate report</a>
                    </div>
                    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reportModalLabel">Generate Report</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="reportForm">
                                        <div class="form-group">
                                            <label for="startDate">Start Date</label>
                                            <input type="date" class="form-control" id="startDate" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="endDate">End Date</label>
                                            <input type="date" class="form-control" id="endDate" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="generateReport()">Generate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox" id="selectAll"></th>
                                    <th scope="col">Report ID</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Income</th>
                                    <th scope="col">Expense</th>
                                    <th scope="col">Balance</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="reportTable">
                                
                            </tbody>
                        </table>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                        <button id="deleteSelected" class="btn btn-md btn-danger mt-3">Delete Selected</button></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Chat with LLM</h6>
                            </div>
                            <div id="chat-box" class="mb-4" style="height: 300px; overflow-y: scroll; border: 1px solid #ddd; padding: 10px;">
                                
                            </div>
                            <div class="d-flex mb-2">
                                <input id="user-message" class="form-control bg-transparent" type="text" placeholder="Your message">
                                <button id="send-btn" type="button" class="btn btn-primary ms-2">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}
