{% extends "base.html" %}
{% load static %}
{% block title %}{{user.username}} | Profile{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="d-flex align-items-center mb-3">
                        <img class="rounded-circle me-lg-2" src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" alt="{{user.username}} Profile Picture" style="width: 160px; height: 160px;">
                        <h3 class="d-none d-lg-inline-flex">{{user.username}}</h3>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                    {% if user == request.user %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <input type="file" class="form-control" id="floatingProfilePicture" name="profile_picture" placeholder="Profile Picture">
                                <label for="floatingProfilePicture">Profile Picture</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="bio" name="bio" placeholder="Profile Picture">
                                <label for="bio">Bio</label>
                            </div>
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </form>
                    {% endif %}
                    </div>
                </div>
                <hr>    
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <h4>User Info</h4>
                        <p>Email: {{ user.email }}</p>
                        <p>Joined on: {{ user.date_joined }}</p>
                        <p>Bio: {{user.profile.bio}}</p>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <h4>Friends</h4>
                        <ul>
                            {% for friend in friends %}
                                <li>
                                    <img class="rounded-circle me-lg-2" src="{% if friend.profile.profile_picture %}{{ friend.profile.profile_picture.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" alt="{{friend.username}} Profile Picture" style="width: 40px; height: 40px;">
                                    <a href="{% url 'profile_view' user_id=friend.id %}"><span>{{ friend.username }}</span></a>
                                </li>
                            {% empty %}
                                <li>No friends yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJs %}{% endblock %}
