{% extends "base.html" %}
{% load static %}
{% block title %}Report {{ report.id }} | ECAPApp{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row h-100 justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="">
                        <h1 class="text-primary"><i class="fas fa-chart-line me-2"></i>ECAP<sub>App</sub></h1>
                    </a>
                    <h3>Report {{report.id}} <br>from: {{report.start_date}} <br>to: {{report.end_date}}</h3>
                </div> 
            
                <hr>
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h4>Income (Total: {{report.total_incomes}} €)</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount (€)</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in report.incomes.all%}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{income.date}}</td>
                                        <td>{{income.amount}}</td>
                                        <td>{{income.category}}</td>
                                        <td>{{income.description}}</td>
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h4>Expense (Total: {{report.total_expenses}} €)</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Product price (€)</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Total price (€)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in report.expenses.all%}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{expense.date}}</td>
                                        <td>{{expense.product.name}}</td>
                                        <td>{{expense.product.price}}</td>
                                        <td>{{expense.amount}}</td>
                                        <td>{{expense.price}}</td> 
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJs %}{% endblock %}